.home {
  width: 100%;
  display: flex;
  align-items: center;

  .dashboard {
    flex: 1;
    display: flex;
    align-items: self-start;
    justify-content: center;
  }
  .sidebar {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid grey;
    min-height: 100vh;
  }
}
